#exceptionList .pageContent{
    overflow: auto;
    position: absolute;
    height:100%;
    width:100%;
}
#exceptionList .tableContent {
    margin: 10px 50px 25px 50px;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 13px #999;
}
#exceptionList .tableTitle {
    height: 29px;
    line-height: 29px;
    text-indent: 10px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #e0e3e3;
    background-color: #f3f7f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#exceptionList .listTable {
    margin: 3px;
    width: calc(100% - 6px);
}
#exceptionList .listTable th,#exceptionList  .listTable td {
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #e4e4e4;
    color: #868686;
}
#exceptionList .listTable th{
	background-color: #e5ecef;
}
#exceptionList .listTable tr.odd td{
	background-color: #f9f9f9;
}