#compBusinessMap{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#compBusinessMap .page-pack{
	position: relative;
	height: 100%;
}

#compBusinessMap .page-pack #chart{
	width: 960px;
	height: 700px;
}

#compBusinessMap .page-pack .boxes{
	position: absolute;
	right: 100px;
	top: 20px;
	display: none;
}

#compBusinessMap .page-pack .boxes .box{
	width: 430px;
	height: 320px;
	box-shadow: 0 0 3px rgb(199, 189, 189);
}

#compBusinessMap .page-pack .boxes .box .title{
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	color: #3a444f;
	font-weight: bold;
	font-size: 14px;
	font-family: "微软雅黑";
	cursor: default;
	background: url(./img/dialog_title.png);
	border-radius: 6px 6px 0 0;
	position: relative;
}

#compBusinessMap .page-pack .boxes .box .title .closed{
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 5px;
	background: url(./img/close.png) no-repeat;
	cursor: pointer;
}

#compBusinessMap .page-pack .boxes .box .main{
	height: 290px;
	background-color: #FFF !important;
}
