#registerPage .loginContent{
	height: 290px;
	padding: 140px;
	background: #FFF;				
}
#registerPage .oneRow{
	height: 45px;
	position: relative;
	margin-bottom: 20px;
}
#registerPage .oneRow label{
    font-weight: 500;
    text-align: right;
    width: 35%;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
#registerPage .searchBtn{
	width: 40%;
	outline:none;
	vertical-align: middle;
	float: left;
}
#registerPage .searchBtn.focus{
	border: 1px solid #9BBDF4;
	box-shadow: 0 0 2px 1px #9BBDF4;
	border-radius: 3px;
}
#registerPage .searchBtn.outline{
	border: 1px solid #FA2D00;
	box-shadow: 0 0 1px  #FA2D00;
	border-radius: 3px;
}
#registerPage .usernameText{
	padding-top: 6px;
	font-size: 12px;
	color: red;
	display: none;
	float: left;
    margin-left: 35%;
}
#registerPage .gain{
	position: absolute;
	right: 10%;
	top: 5px;
	font-size: 14px;
	color: #1296DB;
	border: 1px solid #ccc;
	padding: 5px 6px;
	border-radius: 5px;
	background: #fff;
}
#registerPage .sbtButton{
	margin-right: 0px;
}
#registerPage .oneRow span{
	padding-top: 6px;
    font-size: 12px;
    color: red;
    display: none;
    float: left;
    margin-left: 35%;
}
#registerPage .oneRow i{
	color: #94cf22;
	display: none;
	position: absolute;
    margin-left: 85%;
    margin-top: -35px;
}
#registerPage .submitBox {
    float: left;
    margin-left: calc(75% - 84px);
}



/*------------------------------------------------------------------------------------------*/
.txtstyle{
	position: absolute;
	z-index: 2;
	line-height: 46px;
	margin-left: 20px;
	margin-top: 1px;
	font-size: 14px;
	color: rgb(204, 204, 204);
	display: inline;
}