
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495106721268'); /* IE9*/
  src: url('iconfont.eot?t=1495106721268#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495106721268') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495106721268') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495106721268#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before { content: "\e675"; }

.icon-bbgxiayiji:before { content: "\e72a"; }

.icon-36:before { content: "\e626"; }

.icon-biaodan:before { content: "\e65e"; }

.icon-caidan:before { content: "\e7d5"; }

.icon-dakuohao:before { content: "\e721"; }

.icon-tuichu:before { content: "\e706"; }

.icon-xiaoxi:before { content: "\e690"; }

.icon-yunxiazai:before { content: "\e6f0"; }

.icon-biaoge:before { content: "\e61d"; }

.icon-xiangmujindu:before { content: "\e745"; }

.icon-youbiankuohao:before { content: "\e62f"; }

.icon-shouye-shouye:before { content: "\e622"; }

.icon-pingfenwujiaoxing1:before { content: "\e501"; }

.icon-key:before { content: "\e619"; }

.icon-shujubaobiao:before { content: "\e6a3"; }

