#corporateAnnualReports {
    position: absolute;
    top: 10px;
    left: 50px;
    right: 50px;
    background-color: #fff;
    border-radius: 10px;
}
#corporateAnnualReports .dataTitle {
    height: 29px;
    line-height: 29px;
    text-indent: 10px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #e0e3e3;
    background-color: #f6f9f9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*年报情况*/
#corporateAnnualReportsAnalysis {
    width: 100%;
    height: 560px;
    box-shadow: 0 0 13px #999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#corporateAnnualReportsAnalysis .chartContainer {
    position: absolute;
    top: 49px;
    right: 241px;
    background-color: red;
    height: 510px;
    width: calc(100% - 241px);
}
#corporateAnnualReportsAnalysis .dataBox {
    width: 176px;
    height: 227px;
    border: 1px solid #faad94;
    position: absolute;
    border-radius: 5px;
}
#corporateAnnualReportsAnalysis .dataBox.finish {
    top: 285px;
    right: 27px;
}
#corporateAnnualReportsAnalysis .dataBox.all {
    top: 49px;
    right: 27px;
}
#corporateAnnualReportsAnalysis .boxTitle {
    margin: 40px 10px;
    font-size: 22px;
    text-align: center;
    line-height: 28px;
    height: 56px;
    color: #566166;
}
#corporateAnnualReportsAnalysis .boxValue {
    margin: 40px 12px;
    font-size: 32px;
    text-align: center;
    line-height: 28px;
    height: 56px;
    font-weight: bold;
}
#corporateAnnualReportsAnalysis .dataBox.all .boxValue{
	color: #8bc44a;
}
#corporateAnnualReportsAnalysis .dataBox.finish .boxValue{
	color: #f2aa13;
}
/*年报率*/
#corporateAnnualReportsRate {
    width: 100%;
    height: 560px;
    box-shadow: 0 0 13px #999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#corporateAnnualReportsRate .chartContainer {
    position: absolute;
    top: 59px;
    height: 500px;
    width: 100%;
}
#corporateAnnualReportsRate .chartTabContainer {
    position: absolute;
    top: 50px;
    left: 48px;
    border: 1px solid #c1d4e5;
    border-radius: 4px;
}
#corporateAnnualReportsRate span.chartTab {
    border-right: 1px solid #c1d4e5;
    display: inline-block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 22px;
    line-height: 22px;
    color: #a4b4bc;
}
#corporateAnnualReportsRate span.chartTab.last {
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#corporateAnnualReportsRate span.chartTab.first {
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#corporateAnnualReportsRate span.chartTab.checked {
    background-color: #44a5f1;
    color: #fff;
}
