#my{
	width: 100%;
	height: 100%;
    background-color: #fff;
}
#my .editContainer {
    padding: 60px 30px;
}
#my .editContainer input{
    display: none;
    width: 170px;
    float: left;
}
#my .inputText {
    float: left;
    margin-top: 5px;
    font-size: 16px;
}
#my .btn1 {
    float: left;
    margin-top: -7px;
    margin-left: 20px;
}
#my .btn3 {
    float: left;
    margin-top: -7px;
    margin-left: 20px
}
#my .btn2 {
    float: left;
    margin-left: 20px;
    margin-top: -7px;
    display:none;
}
#my .childTable {
    padding-top: 60px;
}