.headBox{
	width: 100%;
	background-color: #FFF;
	top: 0;
	font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.headOuter{
	display: flex;
	justify-content: space-between;
	width: 1220px;
	margin: 0 auto;
}
.log{
	display: flex;
	height: 65px;
	line-height: 65px;
}
.log a:first-child{
	width: 160px;
	display: block;
}
.log a:first-child img{
	width: 100%;
}
.log a:last-child{
	color: #C0CDDC;
    margin-left: 20px;
    margin-top: 4px;
}
.log a:last-child i{
	font-size: 18px;
}
.userinfo{
	display: flex;
	border-bottom: 1px solid #E9ECF3;
}
.userinfoLi{
	height: 65px;
	line-height: 65px;
	position: relative;
	width: 100px;
	text-align: center;
}
.userinfo li:nth-child(5){
	width: 125px;
}
.userinfo li:last-child{
	width: 40px;
}
.userinfoA{
	color: #999;
	font-size: 14px;
	display: block;
}
.userinfo li a:hover{
	background-color: #f9fafc;
	text-decoration: none;
}
.userinfoBag{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 1.2rem;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	border-radius: 500px;
}
.remindBag{
	background-color: #36c6d3;
}
.newsBag{
	background-color:#ed6b75;
}
.scheduleBag{
	background-color:#8E44AD;
}

.particulars{
	position: absolute;
    top: 65px;
    left: 0;
    z-index: 999;
    display: none;
    float: left;
    min-width: 160px;
    padding: 15px;
    margin: 9px 0 0;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
}
.particulars li{
	color: #999;
    border-bottom: 1px solid #F1F4F7;
    line-height: 20px;
    padding: 10px;
    width: 220px;
    overflow: hidden;
}
.particulars li:first-child a{
	float: right;
}
.particulars li:last-child{
	width: 100%;
	border-bottom: none;
}
.particulars li h3{
	float: left;
	font-size: 14px;
    color: #96a5aa;
    font-weight: normal;
}
.particulars li h3 span{
	font-weight: 600;
    font-size: 16px;
    color: #36c6d3;
    padding: 0 5px;
}
.particulars li a{
	color: #96a5aa;
}
.iconCircle{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 8px;
	color: #fff;
    text-align: center;
    border-radius: 50%;
}
.iconCol1{
	background-color: #36c6d3;
}
.iconCol2{
	background-color: #ed6b75;
}
.iconCol3{
	background-color: #F1C40F;
}
.moduleShift a{
    font-size: 12px;
    width: 70%;
    clear: both;
    display: table-cell;
    font-weight: 400;
}
.moduleShift span{
	width: 30%;
	display: table-cell;
	font-size: 12px;
	text-align: right;
	line-height: initial;
	vertical-align: middle;
}
.infoCont{
	float: left;
	margin: 0 6px 6px 0;
	height: 40px;
    width: 40px;
}
.infoCont img{
	width: 100%;
    border-radius: 50%;
}
.userInfo{
	display: block;
    margin-left: 46px;
    color: #96a5aa;
    overflow: hidden;
}
.userInfo span:first-child{
    font-size: 13px;
    font-weight: 600;
}
.userInfo span:last-child{
	font-size: 12px;
	font-weight: 400;
	opacity: .5;
	float: right;
}
.planInfo{
	margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}
.planInfo span:first-child{
	font-weight: bold;
	font-size: 13px;
}



/*  */
a:hover{
	text-decoration: none !important;
}
.detailsOuter{
	width: 1220px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	height: calc(100% - 20px);
}
.detailsNav{
	width: 235px;
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 20px;
	margin-right: 20px;
}
.detailsNav h3{
	height: 50px;
	padding: 25px 15px 10px;
	color: #5C9ACF;
	font-size: 13px;
	font-weight: 600;
}
.detailsUl li a{
	display: block;
    position: relative;
    margin: 1px 0 0;
    border: 0;
    padding: 12px 15px;
    padding-top: 6px;
    text-decoration: none;
    color: #485a6a;
    font-size: 14px;
}
.detailsUl li{
	position: relative;
}
.detailsUl li a i{
	margin-right: 5px;
}
.icon-sel{
	float: right;
    font-weight: 600;
}
.detailsUl .pitchOn{
	border-left: 3px solid #5C9ACF;
    background: #f2f6f9;
    margin-left: -3px;
    color: #5b9bd1;
}
.detailsUl .pitchOn2{
	border-left: 3px solid #5C9ACF;
    background: #f2f6f9;
    margin-left: -3px;
    color: #5b9bd1;
}
.detailsUl .form-nav .pitchOn3{
    background: #f2f6f9;
    color: #5b9bd1;
}
.detailsUl .pitchOn i{
	color: #5b9bd1;
}
.detailsContent{
	padding-top: 10px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.detailsUl .form-nav{
	display: none;
}
.detailsUl .form-nav div{
	display: block;
	margin: 0;
	padding: 4px 14px 9px 30px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #485a6a;
}
.form-nav div i:first-child{
	font-weight: 600;
	margin-left: 1px;
	margin-right: 6px;
	color: #a7bdcd;
}
.form-nav div:hover{
	color: #5b9bd1;
	background: #f2f6f9;
}
.form-tab.show .icon-sel{
	transform:rotate(90deg);
}