#individualPortrait .individualInfoBox{
	width:350px;
	margin-right:50px;
	margin-top:20px;
}

#individualPortrait #comprehensiveRadar{
	width:100%;
	height:260px;
	border-bottom:1px solid #ccc;
}

#individualPortrait #changeLineChart{
	width:100%;
	height:230px;
}
#individualPortrait .individualInfoList{
	border-top:1px solid #ccc;
}
#individualPortrait .individualInfoList li{
	font-size:14px;
	color:#3a444f;
	background: url(../../../images/arrow.png) no-repeat 150px center,url(../../../images/layoutTitle.png) repeat-x;
	float:left;
	width:50%;
	padding:0 10px;
	height:40px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
}
#individualPortrait .individualInfoList li:nth-child(odd){
	border-right:1px solid #ccc;
}
